img {
    width: 300px;
    height: auto;
}
body {
    background-color: white;
}
nav, main {
    width: 960px;
    margin: 0 auto;
}
nav {
    background-color: white;
    
}
main {
    background-color: gray;
    clear: both;
}
.name {
    float: left;
    background-color:#4aaaa5;
    font-size: 24pt;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 25px;
}
ul {
    padding-top: 30px;
}
li {
    float: right;
    text-align: center;
    
    
    border-left: 1px solid;
    border-color: #777777;
    
    list-style-type: none;
 
}
.noborder {
    border-left: none;
}
a {
    width: 95px;
    text-decoration: unset;
    display: block;
    color: #777777;
    margin-right: 1px;
    margin-left: 1px;
    font-size: 20px;
}
footer {
    background-color: lightcoral;
    width: 100%;
    text-align: center;
}